body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(86, 73, 102);
}
form{
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width: 350px;
    height: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(33, 22, 54);
    margin-top: 50px;
}
#numOfChars{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.603);
    border-radius: 10px;
    margin-bottom: 15px;
}

label{
     font-size: 1.3em;
    font-weight: bold;
   

}
#outputBox{
    border: 2px solid black;
    margin-bottom: 20px;
}

#buttons div{
    margin-bottom: 20px;;
}
#buttons{
    margin-top: 25px;
    
}
#labelPassword{
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 60px;

}
